*{
    font-family: "Roboto", serif;
}
body{
    margin: 0px;
}
.NavBar{
    background-color: darkslategray;
    position: fixed;
    height: 50px;
    width: 10000px;
    float: left;
}
.NavList{
    width: 100%
}
section{
    display: none;
}
.section-active{
    display: block;
}
.NavList li{
    display: inline-block
}
.NavList li a{
    color: #fff;
    margin: 0px 30px 0px 46px;
    text-decoration: none;
}
.NavList li a:hover{
    color: aqua;
    text-decoration: underline;
}
.tab-active{
    color: aqua !important;
    text-decoration: underline;
}
.Text-Center{
    text-align: center;
}
.Welcome{
    background-image: url("../Images/TOMMY_STUDIOS3.png");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    padding: 300px 0px 100px 0px;
}
.Anmeldung{
    padding: 0px 0px 0px 10px;
}
.Kath1{
    padding: 10px 0px 0px 0px;
}
.Kath2{
    padding: 0px 0px 0px 0px;
}
.Anmeldung{
    text-align: center;
    padding: 0px 0px 50px 0px;
}
.Anmeldung input{
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    border: 2px solid black;
    margin: 0px 10px 0px 10px;
}
.Anmeldung input:hover{
    border: 2px solid #2E5E7E;
    color: darkslategray;
}
.Kath1 h1{
    text-decoration: underline;
    color: darkslategrey;
}
.Kath2 h1{
    text-decoration: underline;
    color: darkslategrey;
}
.btn{
    background-color: darkslategrey;
    color: aliceblue;
    font-weight: 500;
}
.SpanDaten{
    font-weight: 900;
    text-decoration: underline;
}
.Anmeldung p{
    font-weight: 600;
    font-size: 24px
}
.Anmeldung h1{
    text-decoration: underline;
    color: darkslategrey;
    font-size: 35px;
    font-weight: 800px;
}
.Anmeldung button{
    height: 50px;
    width: 90px;
    border-radius: 40px;
    border: 2px solid black;
    text-align: center;
}
.Anmeldung button:hover{
    border-radius: 16px;
    background-color: #2E5E7E !important;
    text-align: center;
}
.footerPanel{
    background-color: darkslategrey;
    border-radius: 25px;
    margin: 10px 10px 10px 10px
}
.Footer h2{
    text-align: left;
    color: white;
    text-decoration: underline;
    font-size: 20px;
    padding: 20px 0px 0px 10px
}
.Footer p{
    text-align: left;
    color: white;
    font-size: 20px;
    padding: 0px 0px 20px 10px
}
.footerPanel span{
    color: skyblue;
    text-decoration: underline;
    font-weight: 700;
}
.SocialMedia{
    text-align: center;
}
.SocialMedia li{
    font-size: 30px;
    color: white;
    display: inline-block;
    margin: 10px 70px 10px 0px;
}.SocialMedia  a{
    color: white;
}
.icon{
    height: 40px;
    margin: 0px 0px -7px 0px
}
.KathegorienVideos{
    background-color: darkslategrey;
    height: 250px;
    width: 250px;
    text-align: justify ;
    background-image: url("../Images/icons8-laptop-100.png");
    background-position: center;
    background-repeat: no-repeat;
    
}.ListKathegories div
{
    text-align: center;
    border-radius: 45px;
    margin: 55px;
     border: 2px solid black;
}.ListKathegories div:hover
{
    border-radius: 30px;
    background-color: #2E5E7E !important;
}
.ListKathegories h2
{
    padding: 180px 0px 0px 0px;
    color: white;
    text-align: center;
}
.ListKathegories
{
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: center;
}
.KursTitle{
    text-decoration: underline;
    text-align: center;
    font-size: 40px;
    background-color: darkslategrey;
    margin: 0px 600px 0px 600px;
    padding: 10px;
     border: 2px solid black;
    border-radius: 45px;
    color: white;
     border: 2px solid black;
}
.VideosUl{
    display:flex;
    align-self: center;
    list-style: none;
    justify-content: center;
}
.VideosUl li{
    padding: 0px 10px 0px 0px;
}
.VideosUl h2{
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 600px;
    background-color: darkslategrey;
    border-radius: 45px;
    padding: 10px;
     border: 2px solid black;
}
.Back{
    background-color: darkslategrey;
    margin: 0px 1700px 0px 20px;
    padding: 10px;
    border-radius: 45px;
    color: white;
    text-align: center;
    text-decoration: underline;
     border: 2px solid black;
}
.Back:hover{
    border-radius: 17px;
    background-color: #2E5E7E !important;
}
.AnmeldeDatenFalsch{
    background-color: darkslategrey;
    border: 7px solid #2E5E7E;
    border-radius: 45px;
    text-align: center;
    margin: 0px 650px 0px 650px;
    text-decoration: underline;
}
.AnmeldeDatenFalsch p{
    font-size: 24px;
    color: white;
    font-weight: 800px;
    text-decoration: underline;
}
.AnmeldeDatenFalsch h1{
    font-size: 30px;
    color: white;
    font-weight: 800px;
    text-decoration: underline;
}